In [ ]:
-- Create Rail Table
CREATE TABLE TRAIN_MOVEMENT (
  TRAIN_ID VARCHAR,
  ACTUAL_TIMESTAMP TIMESTAMP,
  LOC_STANOX VARCHAR,
  GBTT_TIMESTAMP TIMESTAMP,
  PLANNED_TIMESTAMP TIMESTAMP,
  PLANNED_EVENT_TYPE VARCHAR,
  EVENT_TYPE VARCHAR,
  EVENT_SOURCE VARCHAR,
  CORRECTION_IND VARCHAR,
  OFFROUTE_IND VARCHAR,
  DIRECTION_IND VARCHAR,
  LINE_IND VARCHAR,
  PLATFORM VARCHAR,
  ROUTE VARCHAR,
  TRAIN_SERVICE_CODE VARCHAR,
  DIVISION_CODE VARCHAR,
  TOC_ID VARCHAR,
  TIMETABLE_VARIATION VARCHAR,
  VARIATION_STATUS VARCHAR,
  NEXT_REPORT_STANOX VARCHAR,
  NEXT_REPORT_RUN_TIME VARCHAR,
  TRAIN_TERMINATED VARCHAR,
  DELAY_MONITORING_POINT VARCHAR,
  REPORTING_STANOX VARCHAR,
  AUTO_EXPECTED VARCHAR,
  LAST_UPDATED_DT TIMESTAMP_NTZ
);



select * from TRAIN_MOVEMENT
CREATE TABLE mapping (
    city VARCHAR,
    route_description VARCHAR
);

INSERT INTO mapping (city, route_description)
VALUES 
    ('Brighton', 'Sussex'),
    ('London', 'High Speed'),
    ('Edinburgh', 'Scotland'),
    ('Canterbury', 'Kent'),
    ('Cardiff', 'TfW Cardiff Valleys'),
    ('Cambridge', 'Anglia'),
    ('Bristol', 'West Coast South'),
    ('Newcastle', 'East Coast'),
    ('Nottingham', 'East Midlands'),
    ('Southampton', 'Wessex'),
    ('Oxford', 'The Chiltern Railway Co Ltd'),
    ('London', 'Private Railway'),
    ('London', 'NONE'),
    ('London', 'Network Rail HQ'),
    ('London', 'Central'),
    ('Liverpool', 'North West'),
    ('Leeds', 'North & East'),
    ('Sheffield', 'East Midlands');

CREATE TABLE weather_data (
    id STRING,
    city STRING,
    temperature FLOAT,
    humidity INT,
    pressure INT,
    visibility INT,
    wind_speed FLOAT,
    wind_direction INT,
    sunrise TIMESTAMP_NTZ(9),  -- Adjusted data type to TIMESTAMP_NTZ(9)
    sunset TIMESTAMP_NTZ(9),   -- Adjusted data type to TIMESTAMP_NTZ(9)
    weather_description STRING,
    cloudiness INT,
    timestamp TIMESTAMP_NTZ(9) DEFAULT CURRENT_TIMESTAMP()
);